# Dossiers générés automatiquement
/vendor/
/node_modules/
/public/css/
composer.lock
# Fichiers de configuration sensibles
.env
.dockerignore
.env.docker
# Système
.DS_Store
Thumbs.db

# Logs
*.log

