# Dossiers générés automatiquement
/vendor/
/node_modules/
/public/css/   # si tu compiles ton SCSS ici
composer.lock
# Fichiers de configuration sensibles
.env

# Système
.DS_Store
Thumbs.db

# Logs
*.log