@use 'utils' as *;

/* ==== BASE ==== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: $font-base;
}

.site-header {
  flex: 0 0 auto;
}
main {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}

/* helper accessibilité */
.u-visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

header {
  padding: 0;
}

/* ===== MODE DYSLEXIE ===== */
body.theme-dys {
  font-family: 'OpenDyslexic', system-ui, -apple-system, 'Segoe UI', sans-serif;
}

body.theme-dys input,
body.theme-dys textarea,
body.theme-dys select,
body.theme-dys button {
  font-family: inherit;
}

/* =========================
   OpenDyslexic (OTF)
   ========================= */

/* Regular */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* === Variante Alta  ===
*/
@font-face {
  font-family: 'OpenDyslexicAlta';
  src: url('/fonts/OpenDyslexicAlta-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenDyslexicAlta';
  src: url('/fonts/OpenDyslexicAlta-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'OpenDyslexicAlta';
  src: url('/fonts/OpenDyslexicAlta-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenDyslexicAlta';
  src: url('/fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexicMono';
  src: url('/fonts/OpenDyslexicMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* mobile spécifique global */
@include mobile {
  body {
    padding-top: 0;
  }
}